<% content_for(:head) do %>
  <%= javascript_tag do %>
	window.booked = <%= raw session[:booked] %>
  <% end %>
<% end %>

<h1>Book a Space</h1>

<%= render 'form' %>

<%= link_to 'Back to search results', search_path(session[:search]) %>
