<h1>Book a Space</h1>

<% if user_signed_in? %>
	<%= render 'form' %>
<% else %>
	<script type="text/javascript">
		window.location.href = "/users/sign_in"
	</script>
<% end %>

<%= link_to 'Back', locations_path %>
