// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.btn {
	margin-top: 10px;
}

a.thumbnail {
	cursor: pointer;
}

#map_canvas {
	height: 600px;
}

.ui-datepicker td span, .ui-datepicker td a {
	display: block;
	padding: 0.2em;
	text-align: right;
}

.ui-datepicker-group {
	width: 200px !important;
}

.ui-datepicker-group table {
	width: 95%;
	margin: 0 auto 5px;
}