// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.btn {
	margin-top: 10px;
}

a.thumbnail {
	cursor: pointer;
}

#map_canvas {
	height: 600px;
}

span#available {
	display: block;
	font-size: 12px !important;
}

span#available .ui-datepicker {
	margin-bottom: 20px;
}

.ui-datepicker td span, .ui-datepicker td a {
	display: block;
	padding: 0.2em;
	text-align: right;
}

.ui-datepicker-group {
	width: 220px !important;
}

.ui-datepicker-group table {
	width: 95%;
	margin: 0 auto 5px;
}

.ui-datepicker-header {
	width: 100%;
	display: table;
	padding: 2px 0;
}

.ui-datepicker-header select {
	padding: 0;
	margin-bottom: 0;
}

.unselectable {
	background: #ccc;
}