// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.blue {
	color: #049cdb !important;
}

a.blue:hover {
	color: #005580 !important;
	text-decoration: none !important;
}

a.btn {
	margin-top: 10px;
}

a.thumbnail {
	cursor: pointer;
}

#map_canvas {
	height: 600px;
}

span#available {
	display: block;
	font-size: 12px !important;
}

span#available .ui-datepicker {
	margin-bottom: 20px;
}

.ui-datepicker td span, .ui-datepicker td a {
	display: block;
	padding: 0.2em;
	text-align: right;
}

.ui-datepicker-group {
	width: 220px !important;
}

.ui-datepicker-group table {
	width: 95%;
	margin: 0 auto 5px;
}

.ui-datepicker-header {
	width: 100%;
	display: table;
	padding: 2px 0;
}

.ui-datepicker-header select {
	padding: 0;
	margin-bottom: 0;
}

.unselectable {
	background: #ccc;
}

.nav .dropdown {
	margin-top: 8px;
}

.nav .open .dropdown-toggle {
	color: #000;
	background: none;
}

input.dimension {
	width: 40px;
	margin-right: 5px;
}

input#location_length {
	margin-left: 5px;
}

span#rate-help {
	display: none;
}

input[type='checkbox'] {
	margin-top: 0;
}

div.price {
	font-size: 36px;
	font-weight: bold;
	vertical-align: middle;
	padding-top: 11px;
	float: right;
	text-align: right;
}

div.sidebar {
	text-align: left;
	float: left;
	margin-bottom: 15px;
}

div.price sup {
	font-size: 24px;
}

div.light {
	margin-top: 2px;
	color: #666;
	font-size: 12px;
}

.embed {
	margin-left: -24px;
	margin-right: 8px;
}