<h2>Find storage near you.</h2>
<div class="well well-small">
    <%= form_tag(locations_search_path, :method => 'get', :class => 'no-bottom-margin') do %>
        <%= text_field_tag 'address', nil, :placeholder => 'Where are you?', :class => 'no-bottom-margin input-long' %>
        <%= submit_tag 'Find a space', :class => 'btn btn-primary' %>
    <% end %>
</div>

<div id="available"></div>

<%= link_to 'Or list your own storage space', new_location_path %>
